<div class="row">
  <div class="col-md-6">
    <h3>5月30日（木）</h3>
    <table class="table table-striped">
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>10:00</td>  <td>概要とセットアップ</td> </tr>
      <tr> <td>10:20</td>  <td>シェルの使い方</td> </tr>
      <tr> <td>11:00</td>  <td>リポジトリの作成</td> </tr>
      <tr> <td>12:00</td>  <td>昼休み</td> </tr>
      <tr> <td>13:00</td>  <td>変更内容の記録、履歴の探索</td> </tr>
      <tr> <td>14:30</td>  <td>休憩</td> </tr>
      <tr> <td>15:00</td>  <td>共同研究</td> </tr>
      <tr> <td>16:00</td>  <td>GitHubのワークフロー</td> </tr>
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>5月31日（金）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>git における衝突の解決</td> </tr>
      <tr> <td>10:40</td>  <td>コンテナとイメージについて</td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td>コンテナを走らせる方法</td> </tr>
      <tr> <td>12:00</td>  <td>昼休み</td> </tr>
      <tr> <td>13:00</td>  <td>コンテナの消去</td> </tr>
      <tr> <td>13:10</td>  <td>DockerHubについて</td> </tr>
      <tr> <td>14:00</td>  <td>イメージの作り方（１）</td> </tr>
      <tr> <td>15:00</td>  <td>休憩</td> </tr>
      <tr> <td>15:10</td>  <td>イメージの作り方（２）</td> </tr>
      <tr> <td>16:00</td>  <td>Docker の実例</td> </tr>
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr> -->
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
</div>
