<div id="editor">
  <h3>テキストエディタ</h3>

  <p>
    コードを書くときには、キーワードの自動カラーコード化など、コードの記述に最適化されたテキストエディタがあると便利です。
    macOSとLinuxのデフォルトのテキストエディタは通常Vimに設定されていますが、Vimは直感的であることで有名ではありません。
    もしうっかりVimに入ってしまった場合は、<kbd>Esc</kbd>キーを押し、その後<kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
    （コロン、小文字の 'q'、感嘆符）を押し、<kbd>Return</kbd>キーを押すと、シェルに戻ることができます。
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          nanoは基本的なエディタで、ワークショップで講師が使用するデフォルトのエディタです。
          Gitと一緒にインストールされます。
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          nanoは基本的なエディタで、ワークショップで講師が使用するデフォルトのエディタです。
          nanoの開き方については、Gitインストールの<a href="#editor-macos-video-tutorial">ビデオチュートリアル</a>を参照してください。
          事前にインストールされているはずです。
        </p>
        <h4 id="editor-macos-video-tutorial">ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-linux">
        <p>
          nanoは基本的なエディタで、ワークショップで講師が使用するデフォルトのエディタです。
          事前にインストールされているはずです。
        </p>
      </article>
    </div>
  </div>
</div>
