{% comment %}
Gitのセットアップ手順は、Shellの手順に依存しています。ワークショップのウェブサイトにShellの手順を含めない場合は、以下のテキストを適宜調整してください。
{% endcomment %}
<div id="git">
  <h3>Git</h3>
  <p>
    Gitは、誰がどの部分をいつ変更したのかを追跡できるバージョン管理システムで、
    <a href="https://github.com/">github.com</a>でコードの共有または公開バージョンを簡単に更新するためのオプションも備えています。
    <a href="https://help.github.com/articles/supported-browsers/">サポートされているウェブブラウザ</a>が必要です。
  </p>
  <p>
    Gitのレッスンの一部では、<a href="https://github.com/">github.com</a>のアカウントが必要です。基本的なGitHubアカウントは無料です。
    まだアカウントをお持ちでない場合は、GitHubアカウントを作成することをお勧めします。
    公開する個人情報についてはよく考えてください。たとえば、
    GitHubが提供する<a href="https://help.github.com/articles/keeping-your-email-address-private/">メールアドレスを非公開にする方法</a>
    を確認してみてください。
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Gitは、Bashのインストールの一部としてコンピュータにインストールされるはずです（
          <a href="#shell">Shellインストール手順</a>を参照してください）。
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
          <strong>macOSの場合</strong>、
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">このリスト</a>
          から最新の「mavericks」インストーラーをダウンロードして実行することでGit for Macをインストールします。
          このインストーラーは開発者によって署名されていないため、.pkgファイルを右クリック（またはcontrolクリック）し、
          「開く」をクリックして、ポップアップウィンドウで「開く」をクリックする必要がある場合があります。
          Gitをインストールしても<code>/Applications</code>フォルダに何も表示されません。Gitはコマンドラインプログラムです。
          <strong>OS Xの古いバージョン（10.5-10.8）の場合</strong>、
          最新の「snow-leopard」ラベルのインストーラーを
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">こちら</a>
          からダウンロードしてください。
        </p>
        <h4>ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
          <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          Gitが既にマシンにインストールされていない場合、ディストリビューションのパッケージマネージャーを使用してインストールを試みることができます。
          Debian/Ubuntuの場合は<code>sudo apt-get install git</code>を実行し、
          Fedoraの場合は<code>sudo dnf install git</code>を実行します。
        </p>
      </article>
    </div>
  </div>
</div>
