<div id="r">
  <h3>R</h3>

  <p>
    <a href="https://www.r-project.org">R</a>は、データの探索、可視化、統計分析に特に強力なプログラミング言語です。Rと対話するには、<a href="https://www.rstudio.com/">RStudio</a>を使用します。
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rstats-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
        <p>
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">この.exeファイル</a>を
          <a href="https://cran.r-project.org/index.html">CRAN</a>からダウンロードして実行することでRをインストールします。
          また、<a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>もインストールしてください。
          ユーザーアカウントと管理者アカウントが別々の場合、インストーラーを管理者として実行してください（.exeファイルを右クリックして「管理者として実行」を選択）。そうしないと、後でRパッケージのインストール時などに問題が発生する可能性があります。
        </p>
        <h4>ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-macos">
        <p>
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">この.pkgファイル</a>を
          <a href="https://cran.r-project.org/index.html">CRAN</a>からダウンロードして実行することでRをインストールします。
          また、<a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>もインストールしてください。
        </p>
        <h4>ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-linux">
        <p>
          各種Linuxプラットフォーム（Debian、Fedora、Redhat、Ubuntu）でのRインストール手順は
          <https://cran.r-project.org/bin/linux/>に記載されています。これには、パッケージマネージャーを使用する指示が含まれています（例：Fedoraの場合は<code>sudo dnf install R</code>を実行、Debian/Ubuntuの場合はppaリポジトリを追加した後に<code>sudo apt-get install r-base</code>を実行します）。
          また、<a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>もインストールしてください。
        </p>
      </article>
    </div>
  </div>
</div>
