<div id="shell">
  <h3>Bashシェル</h3>
  <p>
    Bashはよく使われるシェルで、タスクをより迅速に実行する力を提供します。
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-windows">
        <ol>
          <li><a href="https://gitforwindows.org/">Git for Windowsインストーラー</a>をダウンロードします。</li>
          <li>インストーラーを実行し、以下の手順に従います：
            <ol>
              {% comment %} Git 2.29.1のセットアップ {% endcomment %}
              <li>
                「次へ」を4回クリックします（以前にGitをインストールした場合は2回）。情報、場所、コンポーネント、スタートメニュースクリーンでは何も変更する必要はありません。
              </li>
              <li>
                <strong>
                  「Gitによって使用されるデフォルトエディタを選択する」ドロップダウンメニューから「デフォルトでNanoエディタを使用」を選択します（注：上にスクロールして見つけてください）そして「次へ」をクリックします。
                </strong>
              </li>
              {% comment %} 新しいリポジトリの初期ブランチ名を調整 {% endcomment %}
              <li>
                「新しいリポジトリの初期ブランチ名を調整」ページで「Gitに決めさせる」を選択します。これにより、レッスンの最大の互換性が確保されます。
		{% comment %}
		このセクションには「新しいリポジトリのデフォルトブランチ名を上書きする」という項目と「main」と設定されたテキストボックスがありますが、現在のgitレッスンはまだ旧方式を使用しているため、切り替える必要はありません。
		{% endcomment %}     
              </li>
              {% comment %} PATH環境変数を調整 {% endcomment %}
              <li>
                「コマンドラインとサードパーティソフトウェアからもGitを使用する」を選択し、「次へ」をクリックします。（これを行わないと、Git Bashが正しく動作せず、Git Bashのインストールを削除してインストーラーを再実行し、「コマンドラインとサードパーティソフトウェアからもGitを使用する」オプションを選択する必要があります。）
              </li>
              {% comment %} SSH実行ファイルを選択 {% endcomment %}
 	      <li>
	      「バンドルされたOpenSSHを使用する」を選択します。
	      </li>
              {% comment %} HTTPSトランスポートバックエンドを選択 {% endcomment %}
              <li>
		「ネイティブWindowsセキュアチャネルライブラリを使用する」を選択し、「次へ」をクリックします。
	      </li>
              {% comment %} ラインエンディングの変換を設定 {% endcomment %}
              <li>
                「Windowsスタイルでチェックアウト、Unixスタイルでコミット」を選択し、「次へ」をクリックします。
              </li>
              {% comment %} Git Bashで使用するターミナルエミュレーターを設定 {% endcomment %}
              <li>
                <strong>
                  「Windowsのデフォルトコンソールウィンドウを使用する」を選択し、「次へ」をクリックします。
                </strong>
              </li>
              {% comment %} 追加オプションを設定 {% endcomment %}
              <li>
		「デフォルト（早送りまたはマージ）」を選択し、「次へ」をクリックします。
              </li>
              <li>
		「Git Credential Manager」を選択し、「次へ」をクリックします。
              </li>
              <li>
		「ファイルシステムキャッシュを有効にする」を選択し、「次へ」をクリックします。
              </li>
              {% comment %} 実験的オプションを設定 {% endcomment %}
              <li>「インストール」をクリックします。</li>
              {% comment %} Gitセットアップウィザードを完了 {% endcomment %}
              <li>「Finish」または「次へ」をクリックします。</li>
            </ol>
          </li>
          <li>
            "HOME"環境変数が設定されていない場合（またはこれが何かわからない場合）：
            <ol>
              <li>コマンドプロンプトを開きます（スタートメニューを開いて<code>cmd</code>と入力し、<kbd>Enter</kbd>を押します）</li>
              <li>
                コマンドプロンプトウィンドウに以下の行を正確に入力します：
                <p><code>setx HOME "%USERPROFILE%"</code></p>
              </li>
              <li><kbd>Enter</kbd>を押すと<code>SUCCESS: Specified value was saved.</code>というメッセージが表示されます。</li>
              <li><code>exit</code>と入力し、<kbd>Enter</kbd>を押してコマンドプロンプトを終了します。</li>
            </ol>
	  </li>
        </ol>
        <p>これにより、Git Bashプログラム内でGitとBashの両方が提供されます。</p>
        <h4>ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/339AEqk9c-8?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-macos">
        <p>
          Mac OS X Ventura以降のデフォルトシェルはZshですが、Bashはすべてのバージョンで利用可能なので、何もインストールする必要はありません。
	  Bashにアクセスするには、<code>/Applications/Utilities</code>にあるターミナルを使用します。
          ターミナルを開く方法については、Gitインストール<a href="#shell-macos-video-tutorial">ビデオチュートリアル</a>を参照してください。
          このワークショップのために、ターミナルをドックに保持しておくと便利です。
        </p>
        <p>
            デフォルトのシェルがBashかどうかを確認するには、ターミナルで<code>echo $SHELL</code>と入力し、<kbd>Return</kbd>キーを押します。表示されたメッセージが'/bash'で終わらない場合、デフォルトは他のものです。現在のシェルをBashに変更するには<code>bash</code>と入力して<kbd>Return</kbd>を押します。現在のシェルを確認するには<code>echo $0</code>と入力して<kbd>Return</kbd>を押します。
        </p>
        <p>
          デフォルトシェルをBashに変更するには<code>chsh -s /bin/bash</code>と入力し、<kbd>Return</kbd>キーを押した後、再起動して変更を適用します。デフォルトをZshに戻すには<code>chsh -s /bin/zsh</code>と入力し、<kbd>Return</kbd>キーを押して再起動します。利用可能なシェルを確認するには<code>cat /etc/shells</code>と入力します。
        </p>
        <h4 id="shell-macos-video-tutorial">ビデオチュートリアル</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text

/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <p>
          デフォルトのシェルは通常Bashで、通常何もインストールする必要はありません。
        </p>
        <p>
            デフォルトのシェルがBashかどうかを確認するには、ターミナルで<code>echo $SHELL</code>と入力し、<kbd>Return</kbd>キーを押します。表示されたメッセージが'/bash'で終わらない場合、デフォルトは他のものです。現在のシェルをBashに変更するには<code>bash</code>と入力して<kbd>Return</kbd>を押します。現在のシェルを確認するには<code>echo $0</code>と入力して<kbd>Return</kbd>を押します。
        </p>
        <p>
          デフォルトシェルをBashに変更するには<code>chsh -s /bin/bash</code>と入力し、<kbd>Return</kbd>キーを押した後、再起動して変更を適用します。デフォルトをZshに戻すには<code>chsh -s /bin/zsh</code>と入力し、<kbd>Return</kbd>キーを押して再起動します。利用可能なシェルを確認するには<code>cat /etc/shells</code>と入力します。
        </p>
      </article>
    </div>
  </div>
</div>
